body {
    background: url("assets/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Source Sans 3', sans-serif;
    height: 100vh;
}


/* html {
    background: url(assets/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
  } */


h1, h2, h3, h4, h5, h6  {
    font-family: 'Arial', serif;
}

p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: 'Arial', serif;
  font-weight: 300;
  line-height: 1.3;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

.jumbotron{
    /* background-color: rgb(142, 175, 198); */

    background-image: linear-gradient(rgb(121, 148, 236), rgb(153, 174, 182));
    
    padding: 20px;

    color: white;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.btn-header{
    font-weight: 700;
    color: white;
    text-transform: uppercase;
}

p{
    font-weight: 600;
    padding-inline: 4px;
}

.intro-text{
    font-weight: 600;
    font-size: 30px;
    color: white;
}

.quiz-button{
    background-image: linear-gradient(rgb(74, 114, 246), rgb(62, 148, 183));
} 

.num-of-qs-btn{
    width: 100px;
    height: 75px;
    border-radius: 10px;
    border: black solid 5px;
}

.num-of-qs-btn:hover{
    background-color:#ececab ;
    transform: scale(1.2);
    transition-duration: 0.4s;
}


#num-of-qs{
    font-size: large;
    color: white;
}



/* .bg-image{
    background-image: url("assets/background.jpg");
    background-size: cover; 
}  */

.btn.game:hover{
    transform: scale(1.2);
}

/* About Us Page */

.about-us-headers{
    color: white;
    text-decoration: underline;
}

#slide-show{
    color:white;
}

.rating{
    width: 100%;
}

.education{
    width: 50%;
}

.hidden{
    display: none;
}

#text{
    color: white;
}

.testimony{
    background-color: #6B7A8F;
    border: #6B7A8F;
    border-radius: 5px;

    width: 100%;
    height: 50%;

    color:white;
    font-size: 25px;
}

.testimony:hover{
    background-color: rgb(69, 74, 135);
    transition-duration: 0.4s;
    border: black solid 5px;
}

.slide-show{
    border: black solid;

    width: 100%;
    height: 50%;
    
}

#quote-display{
    color: white;
    font-size: large;
}


/* Static Div Boxes */

.our-journey-content{
    padding: 15px;
    border: black solid 5px;
    border-radius: 5px;

    background-image: linear-gradient(rgb(155, 160, 79), rgb(196, 213, 219))
}

.testimonies-content{
    padding: 15px;
    border: black solid 5px;
    border-radius: 5px;

    background-image: linear-gradient(rgb(81, 160, 67), rgb(196, 213, 219))
}

#slide-show-image{
    width: 150px;
}

/* .slide-show-border{
    border: 5px white solid; 
    border-radius: 5px;
    padding: 15px;
} */

/* Hover Actions */

.our-journey-content:hover{
}

/* .slide-show-border:hover{
    border: 5px black solid;
    border-radius: 5px;
    padding: 15px;

    transition-duration: 0.2s;
    background-image: linear-gradient(rgb(110, 216, 91), rgb(196, 213, 219))
} */

.new-quiz-button{
    width: 100%;
    height: 27vh;
    margin: 5px;

    font-family: Arial, Helvetica, sans-serif;

    background-image: linear-gradient(rgb(109, 139, 203), rgb(247, 249, 250));


    border: #2F2D73 solid 5px;
    border-radius: 15%;

    transition: all 0.2s ease-in;
}

.new-quiz-button.subject{
    height: 23vh;
    width: 80%;
}

.parent-container{
    max-width: 450px;
}

.new-quiz-button:hover{
   /* transform: scale(1.1); */

   animation-play-state: paused;
   animation: swelling 0.5s ease-in forwards infinite alternate;

   background-image: linear-gradient(rgb(90, 36, 191), rgb(160, 136, 185));

   border: white solid 7px;
}

@keyframes swelling {
    100% {
      transform: scale(1.05)
    }
  }

.new-quiz-button:active{
    transform: scale(1.1);
 
    /* background-image: linear-gradient(rgb(214, 166, 34), rgb(196, 213, 219)); */
 
    background-color: #0077B6;

    border: white solid 7px;
 }

