body {
    font-family: 'Source Sans 3', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    height: 100vh;
    margin-bottom: 20vh;
    overflow: auto;
    
    
}

@media screen and (max-width: 768px) {
    body { padding-top: 0px; }
}
#main_section{
    min-height: 100vh;
    vertical-align: middle;
}

.eachsubject{
    height: 40vh;
    padding: 50px;
    margin: 20px;
    color: black;
}
.content{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vw;
}
.answers{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.question-cont{ 
    padding: 2%;
    width: 85%;
    text-wrap: wrap;
}
.question-outer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.question{
    margin: 2%;
    padding: 1%;
    margin-bottom: 2%;
    padding: 2%;
    width: 80%;
    transform: scale(1.07);
    box-shadow: rgba(26, 85, 137, 0.42) 0px 60px 123px -25px,
        rgba(105, 140, 171, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color:rgb(79, 125, 172) rgb(80, 158, 226)rgb(22, 73, 194);
}
.question p{
    text-shadow: 3px 3px 10px #a7b4de,
    -2px 1px 20px #9fb8d0;
}

.answers .btn {
    transform: scale(1.07);
    box-shadow: rgba(26, 85, 137, 0.42) 0px 60px 123px -25px,
        rgba(105, 140, 171, 0.08) 0px 35px 75px -35px;
    border-radius: 10px;
    border: 1px solid;
    border-color:rgb(79, 125, 172) rgb(80, 158, 226)rgb(22, 73, 194);

}

.answers .btn:hover{
    /* transform: scale(1.1); */
 
    animation-play-state: paused;
    animation: swelling 0.5s ease-in forwards infinite alternate;
 
    background-image: linear-gradient(rgb(208, 197, 228), rgb(85, 107, 228));
 
    border: white solid 5px;
 }
 
 @keyframes swelling {
     100% {
       transform: scale(1.05)
     }
   }
#end_section{
    margin: 3%;
}
.score_section{
    margin: 3%;
}
.placeholder{
    min-height: 100px;
}
#footer{
    max-height: 7vh;
    position: relative;
    bottom: 0;
}
#table-result{
    display: flex;
    justify-content: center;
    
}
table{
    border: solid 3px #41607b;
    margin-left: 20vw;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
table thead tr{
    background-color: #596d94;
    color: white;
    text-align: center;
    font-size: 1.1em;
}
table th td{
    padding: 12px 15px;
    font-size: 2em;
}
table tbody tr:nth-of-type(even) {
    background-color: #b2c4da;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #2432ad;
}
table tbody tr.active-row {
    font-weight: bold;
    color: #009879;
}