/* Add this to your CSS stylesheet */
body {
  background: url("assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Source Sans 3', sans-serif;
  height: 100vh;
}


h1, h2, h3, h4, h5, h6  {
  font-family: 'Arial', serif;
}

p {
  margin-bottom: 1rem;
  
}

h1, h2, h3, h4, h5 {
margin: 3rem 0 1.38rem;
font-family: 'Arial', serif;
font-weight: 300;
line-height: 1.3;
}

h1 {
margin-top: 0;
font-size: 3.052rem;
color: #023E8A;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}
  
  .container_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    font-size: 1.2rem;
    font-weight: 500;
    
    grid-template-areas: 
    "card1 card2 card3 card4"
    "card5 card6 card7 card8"
    "card9 card10 card11 card12";

    /* gap: 1rem; */
    row-gap: 1rem;
    margin-top: 1rem;
    justify-content: center;
    justify-items: center;
    max-width: 80vw;
    margin: 0 auto;

  }

  .container_grid > div {
    box-shadow: 0 8px 10px 0 rgba( 31, 38, 135, 0.1 );
    border: 1px solid #023E8A;
    border-radius: 1rem;
    transition: all 0.2s ease-in-out;
    transition: visibility 0.4s ease-out;
  }

 .container_grid > div:hover:not(.fade-out) {
    animation-play-state: paused;
    animation: swelling 0.5s ease-in forwards infinite alternate;
  }


  .container_grid > div:active {
    background-color: #03045E;
    transition: all 0.4s ease-in-out;
    color: #fff;
  }

  .fade-out {
    animation: shrinking 0.3s ease-out forwards;
  }

.clicked {
  background-color: #03045E;
  color: #fff;
}

@keyframes shrinking{
  100% {
    transform: scale(0)
  }
}


  @keyframes swelling {
    100% {
      transform: scale(1.07)
    }
  }



  .changeBackground {
    background-color: red;
    color: #fff;
  }
  
  /* .container_grid > div:active {
    background-color: rgba(34, 33, 33, 0);
    color: #000;
  } */

  .container_grid div:nth-child(1) {
    grid-area: card3;
  }

  .container_grid div:nth-child(2) {
    grid-area: card2;
  }
  .container_grid div:nth-child(3) {
    grid-area: card1;
  }
  .container_grid div:nth-child(4) {
    grid-area: card5;
  }
  .container_grid div:nth-child(5) {
    grid-area: card10;
  }
  .container_grid div:nth-child(6) {
    grid-area: card4;
  }
  .container_grid div:nth-child(7) {
    grid-area: card11;
  }
  .container_grid div:nth-child(8) {
    grid-area: card12;
  }
  .container_grid div:nth-child(9){
    grid-area:card9;
  }
  .container_grid div:nth-child(10){
    grid-area:card7;
  }
  .container_grid div:nth-child(11){
    grid-area: card6;
  }
  .container_grid div:nth-child(12){
    grid-area: card8;
  }

h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
  }

  .pair-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 90%;
    padding: 2rem;
  }
  .popup-content {
    /* width:400px;*/
    height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: auto;
    padding:auto;  */
    /* margin-top: 200px; */
    left : 50%;
    top : 50%;
    
  }

  .popup-content button {
   width: 200px;
   padding: 20px 10px;
   margin-top: 10px ;
   border: 1px solid #cfcfcf;
   border-radius: 0.5rem;
   background: none;
  
  }

  .popup-content button:hover {
    background-color: #00000040;
    transition: all 0.2s linear;
    cursor: pointer;
  }

  .popup-content button:active {
    background-color: #000000a9;
    color: #fff;
    
  }

  /* footer {
    height: 10%;
  
  } */
  
  
  
  
  
  