/* Add this to your CSS stylesheet */

  
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
    grid-template-areas: 
    "card1 card2 card3 card4"
    "card5 card6 card7 card8"
    "card9 card10 card11 card12";

    gap: 0.5rem;
    margin-top: 1rem;

  }

  .container > div {
    border: 1px solid #00000023;
    border-radius: 1rem;
  }

  .container > div:hover {
    background-color: rgb(149, 147, 146);
    color: #fff;
    transition: all 0.2s ease-in;
  }

  .changeBackground {
    background-color: red;
    color: #fff;
  }
  
  /* .container > div:active {
    background-color: rgba(34, 33, 33, 0);
    color: #000;
  } */

  .container div:nth-child(1) {
    grid-area: card3;
  }

  .container div:nth-child(2) {
    grid-area: card2;
  }
  .container div:nth-child(3) {
    grid-area: card1;
  }
  .container div:nth-child(4) {
    grid-area: card5;
  }
  .container div:nth-child(5) {
    grid-area: card10;
  }
  .container div:nth-child(6) {
    grid-area: card4;
  }
  .container div:nth-child(7) {
    grid-area: card11;
  }
  .container div:nth-child(8) {
    grid-area: card12;
  }
  .container div:nth-child(9){
    grid-area:card9;
  }
  .container div:nth-child(10){
    grid-area:card7;
  }
  .container div:nth-child(11){
    grid-area: card6;
  }
  .container div:nth-child(12){
    grid-area: card8;
  }

h1{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 0.3rem;
    text-align: center;
    margin-block: 1rem;
  }

  .pair-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    padding: 2rem;
  }
  .popup-content {
    /* width:400px;*/
    height: 600px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* margin: auto;
    padding:auto;  */
    /* margin-top: 200px; */
    left : 50%;
    top : 50%;
    
  }

  .popup-content button {
   width: 200px;
   padding: 20px 10px;
   margin-top: 10px ;
   border: 1px solid #cfcfcf;
   border-radius: 0.5rem;
   background: none;
  
  }

  .popup-content button:hover {
    background-color: #00000040;
    transition: all 0.2s linear;
    cursor: pointer;
  }

  .popup-content button:active {
    background-color: #000000a9;
    color: #fff;
    
  }
  
  
  
  
  
  